<center>
    <h2 class="brand-before">
        <small>Welcome to</small>
    </h2>
    <h1 class="brand-name">liveSound</h1>
    <hr class="tagline-divider">
    <br>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p>Your one stop for concert searching!</p>
    </div>
    <div class="col-md-4"></div>
    <form id="favorite">
        <input type="submit" class="btn btn-default" value="INSTANT LOOKUP">
    </form>
    <div id="favorite_results"></div>

</center>
