<h2 class="intro-text text-center"></h2>
<h2 class="intro-text text-center">LOG IN</h2>
<hr>
<div id='error'></div>
<!-- FORM TO LOGIN -->
<form id="login">
    <div class="row">
        <div class="form-group col-lg-6">
            <label>Username</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group col-lg-6">
            <label>Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group col-lg-12">
            <input type="submit" class="btn btn-default" value="Log In">
        </div>
    </div>
</form>
<hr>
<!-- FORM TO REGISTER -->
<h2 class="intro-text text-center">REGISTER</h2>
<form id="register">
    <div class="row">
        <div class="form-group col-lg-4">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstname">
        </div>
        <div class="form-group col-lg-4">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastname">
        </div>
        <div class="form-group col-lg-4">
            <label>Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group col-lg-6">
            <label>Username</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group col-lg-6">
            <label>Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group col-lg-12">
            <input type="submit" class="btn btn-default" value="Register">
        </div>
    </div>
</form>
<hr class="visible-xs">