<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/youngthegiant.png" class="fullscreen-bg__video">
        <source src="img/ytg.mp4" type="video/mp4">
     </video>

     <audio controls autoplay>
        <source src="img/strings.mp3" type="audio/mpeg">
    </audio>
</div>

<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>

<div id="content">
    <h2 class="intro-text text-center">Ready to find your song?</h2>
    <hr>
    <div id='error'></div>
    <!-- FORM TO LOGIN -->
    <form id="login">
    <div class="row">
        <div class="form-group col-lg-6">
            <label>Username</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group col-lg-6">
            <label>Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group col-lg-12">
            <input type="submit" class="btn btn-default" value="Log In">
        </div>
    </div>
</form>
<hr>
<!-- FORM TO REGISTER -->
<h2 class="intro-text text-center">Register Here</h2>
<form id="register">
    <div class="row">
        <div class="form-group col-lg-4">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstname">
        </div>
        <div class="form-group col-lg-4">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastname">
        </div>
        <div class="form-group col-lg-4">
            <label>Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group col-lg-6">
            <label>Username</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group col-lg-6">
            <label>Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group col-lg-12">
            <input type="submit" class="btn btn-default" value="Register">
        </div>
    </div>
</form>
<hr class="visible-xs">
</div>