<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/nav %>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                  <hr>
                  <h2 class="intro-text text-center"><strong>Favorite Artists</strong></h2>
                  <hr>

                  <div id="custom-search-input">
                      <div class="input-group col-md-12">
                          <input type="text" id="search-text" class="  search-query form-control" placeholder="Search" />
                          <span class="input-group-btn">
                              <button id="find" class="btn btn-danger" type="button">
                                  <span class=" glyphicon glyphicon-search"></span>
                              </button>
                          </span>
                      </div>
                  </div>
                  <br>
                  <div id="founditem"></div>
                  <br>

                  <div id="allArtists"></div>
                	
                  <!-- Edit Modal -->
                  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" 
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                              <div class="modal-header">
                                  <button type="button" class="close" 
                                     data-dismiss="modal">
                                         <span aria-hidden="true">&times;</span>
                                         <span class="sr-only">Close</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel">
                                      Edit Artist
                                  </h4>
                              </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                              <form id="update">
                                <input type="text" id="artist" placeholder="Artist" required></input><br>
                                <input type="text" id="ranking" placeholder="Ranking" required></input><br><br>
                                <input type="submit" value="Edit Artist" class="btn btn-primary">
                              </form>               
                            </div>
                        </div>
                    </div>
                  </div> <!-- edit modal -->
                </div>
                <div class="col-lg-6">
                  <form id="new">
                    <input type="text" id="artist" placeholder="New Artist" required></input>
                    <input type="text" id="ranking" placeholder="Ranking" required></input>
                    <input type="submit" value="Add Artist" class="btn btn-primary">
                  </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <% include ./partials/footer %>
    </footer>

  </body>
</html>


