<div class="col-md-12">
  <h2>Requested Songs</h2>
  	<div class="table-responsive">
		<table class="table">
			<tr>
				<th></th>
				<th>Genre</th>
				<th>Lyrics</th>
				<th>Unique</th>
			</tr>
			<% if (obj.length) { %>
				<% for(var i = 0; i < obj.length; i++) { %>
					<% var song = obj[i]%>
					<% if (song.answer == false) { %>
					    <tr>
					    	<td>
					    		<%= i+1 %>
					    	</td>
					    	<td>
					    		<%= song.genre %>
					    	</td>
					    	<td>
					    		<%= song.lyrics %>
					    	</td>
					    	<td>
					    		<%= song.extras %>
					    	</td>
					    </tr>
					<% } %>
				<% }; %>
			<% } %>
		</table>
	</div>
</div>