<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>liveSound</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/application.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <% include ./partials/nav %>
  <div class="container">
      <div class="row">
          <div class="box">
              <div class="col-lg-12">
                  <hr>
                  <h2 class="intro-text text-center"><strong>find nearby concerts</strong>
                  </h2>
                  <hr>
                  <p>What concert are you looking for? liveSound will help you find it!</p>
                  <form id="upcoming">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>Performer Name</label>
                            <input type="text" class="form-control" id="performer" required>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="submit" class="btn btn-default" value="Search">
                        </div>
                      </div>
                  </form>
                  <form id="upcoming_geo">
                    <input type="submit" class="btn btn-default" value="Look Nearby">
                  </form>
              </div>
          </div>
      </div>
       <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Search Results</strong>
                    </h2>
                    <hr>
                    <br>
                    <div id="upcoming_results"></div>
                </div>
            </div>
        </div>
    <!-- /.container -->
  </div>
  <footer>
      <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <p>Copyright &copy; 2016 Sophie Zhao</p>
        </div>
    </div>
</div>
  </footer>
  </body>
</html>


